<ion-view>
    <ion-content class="container margin-top-20 " scroll="false">
        <div ng-style="login.fulldim">
            <div class="row div-centered-40 ">
                <div class="col text-center">
                    <img src="img/logo.png" class="full-image padding-30">
                </div>
            </div>
            <div class="login-div">
                <facebook-sign-in>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-fb icon-left ion-social-facebook">
                            Connect with Facebook
                        </button>
                    </div>
                </div>
                </facebook-sign-in>
                <twitter-sign-in>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-fb icon-left ion-social-twitter">
                            Connect with Twitter
                        </button>
                    </div>
                </div>
                </twitter-sign-in>
                <google-sign-in>
                    <div class="row margin-top-0">
                        <div class="col">
                            <button class="button button-block button-google icon-left ion-social-googleplus">
                                Connect with Google+
                            </button>
                        </div>
                    </div>
                </google-sign-in>
                <div class="row margin-top-20">
                    <div class="col text-center dionic-blue bold">
                        I already have an account
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center dionic-blue bold">
                        Register new account
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
